*.egg-info
*.log
*.mo
*.pyc
*.pyo
*~
.*project
.coverage
.installed.cfg
.mr.developer.cfg
.settings
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
Makefile
parts/
src/mpdg.govbr.faleconosco.egg-info/
var/
dist/
venv
