[buildout]
extends = http://dist.plone.org/release/5.0.6/versions.cfg
show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    test
    code-analysis
    createcoverage
    releaser
    i18ndude
    omelette
    robot
    precompile
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    mpdg.govbr.faleconosco [test]


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/mpdg
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
return-status-codes = True
flake8-ignore = E501,T000
pre-commit-hook = True
return-status-codes = True

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'mpdg.govbr.faleconosco', '--auto-color', '--auto-progress']

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[versions]
# Don't use a released version of mpdg.govbr.faleconosco
mpdg.govbr.faleconosco =

setuptools =
zc.buildout =
zc.recipe.egg = 2.0.3

# É necessário ter o precompile para gerar os '*.mo' para os testes. Os '*.mo'
# só são gerados quando a instância sobe e para executar os testes a instância
# não é levantada.
[precompile]
recipe = plone.recipe.precompiler
eggs = mpdg.govbr.faleconosco
compile-mo-files = true
